# Gradle files
.gradle/
build/

# Local configuration file (for sensitive data)
/local.properties

# Android Studio IDE files
.idea/
*.iml
*.hprof

# Keystore files
*.jks
*.keystore

# Other
.DS_Store
captures/
.cxx/
